<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="he">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="he, en">

<meta http-equiv="Content-Style-Type" content="text/css">
<title lang="en">T'fillah Database Build...</title>
<link rel="stylesheet" href="css/pearl.css">
<style type="text/css">
.he, .he p {
	font-family : Ezra Sil, Ezra Sil SR, CODE2000, Times New Roman, times, serif;
	direction : rtl;
}

div.he, .he p {
	font-size : x-large;
	margin : 0px auto;
}
div.he {
	padding : 6px;
}
/* table {
border : 1px #FF9900 solid;
border-collapse : collapse;
}
h3 {
text-align: center;
background-color : #FFFFCC;
width:100%;
margin-top :1em;
padding : 4px;
}
p.intro span.he {
	font-weight : bold;
	font-size : large;
}
*/

</style>

</head>
<body>  
<!-- Beginning of actual web page -->
<div id="wrapper">
	<div id="header"><!--  BEGIN DOCUMENT MENU ----------------->
	Rabbi Sam's Web Site on T'fillah
	<div class="container"> 
	</div> <!-- #container --> 
	</div><!--             END DOCUMENT MENU  ------------------>
	<div id="content">
		<div id="AuthorList">content Left...</div>
		<div id="contentMain">They say that where there is smoke, there is fire... but come on! Wake up and smell the coffee... if it were true, nobody would have to say it! It must be wishful thinking. </div>
		<div id="UserList">CONTENT RIGHT  R RRRRRR RRRR RRRR R RRRRR RRRR RRRRR RR RR RR RRRRRRRR RRRRR RRRRR RRRR RR RRRRR RRRRR RRR RRRRRR</div>
	</div>
	<div id="FloatOver"></div>
	<div id="FloatOver2"></div>
	<div id="TextList">FOOTER FFFFFFF FFFF FFFFFFFFFF FFFFFFFFFF FFFFF FFFF FFFFFF FFFF FFF FFFF FFFFF FFFFFF FFF FF</div>
	<div id="bottom"><div class='he' style='clear:both'><p>תִּקנְתָּ שַׁבָּת רָצִיתָ קָרְבְּנוֹתֶיהָ</p></div></div>
</div>
<!-- End of actual web page -->
    <!-- Templates -->
    <script type="text/template" id="AuthorTemplate">
		<clickAuthor><%= PCTITLE %> <%= PCFNAME %> <%= PCLNAME %></clickAuthor>
		<%= PCEMAIL %> <%= PCPHONE %>
    </script>
    <script type="text/template" id="UserTemplate">
		<clickUser><%= PCTITLE %> <%= PCFNAME %> <%= PCLNAME %> </clickUser>
		<%= PCEMAIL %> <%= PCPHONE %>
    </script>
    <script type="text/template" id="ParushTemplate">
        <%= parush %>
    </script>
    <script type="text/template" id="TextTemplate">
        <clickText><div id='TTtext' class='he' style='clear:both'><font face='Ezra Sil'><%= PCTEXT %></font></div></clickText><br>
	    <div id='TTtranslation'><%= PCTRANSLATION %></div><br>
        <div id='TTtransliteration'><%= PCTRANSLITERATION %></div><br>
		<div id='TTparush'><%= PCPARUSH %></div>
    </script>
    <script type="text/template" id="EventTemplate">
		<%= title %> <%= institution %><br>
        <%= startdate %> through <%= enddate %><br>
		<%= starttime %> - <%= endtime %>
    </script>
	<script type="text/template" id="SubEventTemplate">
		<%= title %> <%= institution %><br>
        <%= startdate %> through <%= enddate %><br>
		<%= starttime %> - <%= endtime %>
    </script>

    <!-- JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>    
	<script src="js/pearlModel.js"></script>
	<script src="js/pearlView.js"></script>
	<script src="js/pearlRouter.js"></script>


<script>
var dataRouter = new DataRouter();
dataRouter.displayAuthor();
dataRouter.displayUser();
dataRouter.displayText();
		
Backbone.history.start();
</script>
</body>
</html>