<!DOCTYPE html>
<html>
<head>
    <title>php backbone working with model</title>
</head>
<body>    

    <div id="msg"></div>

    <!-- Templates -->
    <script type="text/template" id="tpl-hello-backbone">
        <%= other %> // <%= message %>
    </script>
	
    <!-- JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>    
    <script src="js/example_1MODEL.js"></script>

</body>
<script>
var Sidebar = Backbone.Model.extend({
	defaults: {
		date: "December 1, 2013",
		type: "strange"
		},
  promptColor: function() {
    var cssColor = prompt("Please enter a CSS color:");
    this.set({color: cssColor});
  }
});

window.sidebar = new Sidebar;

alert(sidebar.get("date"));
sidebar.on('change:color', function(model, color) {
  $('#msg').css({background: color});
});

sidebar.set({color: 'white'});
sidebar.set({date: 'December 15, 2013'});

sidebar.promptColor();
alert("before Stingify");
alert(JSON.stringify(sidebar));
alert(JSON.stringify(sidebar.previousAttributes()));
alert("after");
alert(sidebar.get("type"));
</script>
</html>