<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="he">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="he, en">

<meta http-equiv="Content-Style-Type" content="text/css">
<title lang="en">T'fillah Database Build...</title>
<link rel="stylesheet" href="css/pearl.css">
<style type="text/css">
.he, .he p {
	font-family : Ezra Sil, Ezra Sil SR, CODE2000, Times New Roman, times, serif;
	direction : rtl;
}

div.he, .he p {
	font-size : x-large;
	margin : 0px auto;
}
div.he {
	padding : 6px;
}
/* table {
border : 1px #FF9900 solid;
border-collapse : collapse;
}
h3 {
text-align: center;
background-color : #FFFFCC;
width:100%;
margin-top :1em;
padding : 4px;
}
p.intro span.he {
	font-weight : bold;
	font-size : large;
}
*/

</style>

</head>
<body>  
<!-- Beginning of actual web page -->
<div id="wrapper">
	<div id="header"><!--  BEGIN DOCUMENT MENU ----------------->
	Kavanah is everything. The revival of kavanah is the revival of the world…
Every act that perfects the world is embraced in it.
<br><font size=-1>Rabbi Abraham Isaac Kook</font>
	<div class="card" id="c01"></div>
	<div class="card" id="c02"></div>
	<div class="card" id="c03"></div>
	<div class="card" id="c04"></div>
	<div class="card" id="c05"></div>
	<div class="card" id="c06"></div>
	<div class="card" id="c07"></div>
	<div class="card" id="c08"></div>
	<div class="card" id="c09"></div>
	<div class="card" id="c10"></div>
	<div class="card" id="c11"></div>
	<div class="card" id="c12"></div>
	
	<div class="container"> 
	</div> <!-- #container --> 
	</div><!--             END DOCUMENT MENU  ------------------>
	<div id="content">
		<div id="AuthorList">content Left...</div>
		<div id="contentMain"></div>
		<div id="UserList"></div>
	</div>
	<div id="FloatOver"></div>
	<div id="FloatOver2"></div>
	<div id="TextList"></div>
	<div id="bottom"><div class='he' style='clear:both'><!-- <p>תִּקנְתָּ שַׁבָּת רָצִיתָ קָרְבְּנוֹתֶיהָ</p> --></div></div>
</div>
<!-- End of actual web page -->
    <!-- Templates -->
    <script type="text/template" id="AuthorTemplate">
		<clickAuthor><%= PCTITLE %> <%= PCFNAME %> <%= PCLNAME %></clickAuthor>
		<%= PCEMAIL %> <%= PCPHONE %>
    </script>
    <script type="text/template" id="UserTemplate">
		<clickUser><%= PCTITLE %> <%= PCFNAME %> <%= PCLNAME %> </clickUser>
		<%= PCEMAIL %> <%= PCPHONE %>
    </script>
    <script type="text/template" id="ParushTemplate">
        <%= parush %>
    </script>
    <script type="text/template" id="TextTemplate">
        <clickText><div id='TTtext' class='he' style='clear:both'><font face='Ezra Sil'><%= PCTEXT %></font></div></clickText><br>
		<!--
	    <div id='TTtranslation'><%= PCTRANSLATION %></div><br>
        <div id='TTtransliteration'><%= PCTRANSLITERATION %></div><br>
		<div id='TTparush'><%= PCPARUSH %></div>
		-->
    </script>
    <script type="text/template" id="EventTemplate">
		<%= title %> <%= institution %><br>
        <%= startdate %> through <%= enddate %><br>
		<%= starttime %> - <%= endtime %>
    </script>
	<script type="text/template" id="SubEventTemplate">
		<%= title %> <%= institution %><br>
        <%= startdate %> through <%= enddate %><br>
		<%= starttime %> - <%= endtime %>
    </script>
	<script type="text/template" id="CitationTemplate">
		<%= PCCITATION %> 
    </script>

	
    <!-- JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>    
	<script src="js/pearlModel.js"></script>
	<script src="js/pearlView.js"></script>
	<script src="js/pearlRouter.js"></script>


<script>
var dataRouter = new DataRouter();
dataRouter.displayAuthor();
//dataRouter.displayUser();
//dataRouter.displayText();
		
//alert(Backbone.VERSION);
Backbone.history.start();
</script>
</body>
</html>